body{
    background-color: #FFF5E4;
}
.container{
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -250px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding-top: 50px;
    border-radius: 20px;
}
.card{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 60%;
    top: 50%;
    margin-top: -101px;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 10px;
}
#butt{
    position: relative;
    width: 450px;
    left: 50%;
    margin-left: -225px;
}
#img1{
    position: absolute;
    top: -20%;
    left: 30%;
    scale: 0.3;
}
